*/*.DS_Store
*.DS_Store
*.csv
*.asv
/head
/head
*/*.pdf
*.DS_Store
*.csv
*/*.csv
*/*.Rout
*/*/*.Rout
/Simulations/Products/*
/Simulations/Matlab/212*
*.Rout
*.log
*.fdb_latexmk
*.aux
*.fls
*.lof
*.lot
*.gz
*.pdf
# */*.RData
# *.RData
